body{margin-top:20px;}

.align-center {
    text-align: center;
}
.hash-list {
    display: block;
    padding: 0;
    margin: 0 auto;
}

@media (min-width: 768px){
    .hash-list.cols-3 > li:nth-last-child(-n+3) {
        border-bottom: none;
    }
}
@media (min-width: 768px){
    .hash-list.cols-3 > li {
        width: 33.3333%;
    }
}
.hash-list > li {
    display: block;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pad-30, .pad-30-all > * {
    padding: 30px;
}
img {
    border: 0;
}
.mgb-20, .mgb-20-all > * {
    margin-bottom: 20px;
}
.wpx-100, .wpx-100-after:after {
    width: 100px;
}
.img-round, .img-rel-round {
    border-radius: 50%;
}
.padb-30, .padb-30-all > * {
    padding-bottom: 30px;
}

.mgb-40, .mgb-40-all > * {
    margin-bottom: 40px;
}
.align-center {
    text-align: center;
}
[class*="line-b"] {
    position: relative;
    padding-bottom: 20px;
    border-color: #E6AF2A;
}
.fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
    color: #222;
}
.font-cond-b {
    font-weight: 700 !important;
}



.re{
	border-style:solid;
	
	height:500px;
	width:30%;
	margin: 10px 10px 10px 10px;
	
}

.re:hover{
	border-color:white;
	background-color: #ffaa80;
	box-shadow: 3px 5px 7px 7px white;
	font-family: "Times New Roman", Times, serif;
}

.nav-item:hover{
	border-style:solid;
	border-radius:10px;
	border-color:white;
	box-shadow: px 5px 7px 7px white;
	background-color: #ff80bf;	
}








.flip-box {
  background-color: transparent;
  width: 213px;
  height: 273px;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
 width: 210px;
  height: 270px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
  box-shadow: 0px 0px 8px 8px lightgray;
}

.flip-box-front, .flip-box-back {
  position: absolute;
 width: 210px;
  height: 270px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #ff884d;
  color: black;
}

.flip-box-back {
  background-color:#ffebcc;
  color: #ff9933;
  transform: rotateY(180deg);
}





.card-title{
	background-color:white
}






































